<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MongoDB Project</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all">Show All</a></li>
        <li><a href="/add-db">Add One</a></li>
        <li><a href="/add-many">Add Many</a></li>
        <li><a href="/find-one">Find Jace</a></li>
        <li><a href="/find-one-food">Find Spaghetti</a></li>
        <li><a href="/find-id">Find Ayeesha</a></li>
        <li><a href="/update-food">Add hamburger to Jace</a></li>
        <li><a href="/findOne-update">Harold is now 20 :}</a></li>
        <li><a href="/delete-one">Delete Ayeesha</a></li>
        <li><a href="/delete-all-mary">Delete All Mary's</a></li>
        <li><a href="/c-s-q">Chain Search Query</a></li>
    </ul>
</body>
</html>